<div class="container">
    <div class="img">

    </div>

    <div class="container__form">


        <!-- FORM COMPONENT -->
        <form class="form" [formGroup]="signinForm" (ngSubmit)="goPlaces()">

            <!-- LOGO & TITLE FORM -->
            <img src="/assets/logo.png" alt="logo" class="form__logo">


            <h1>Nice to see you again</h1>

            <!-- INPUT COMPONENT -->
          
            <label for="email"  class="login__input"> Email
                <input type="text" name="email" placeholder="Enter email" formControlName="username">
            </label>
            <div class="error" *ngIf="username?.errors && username?.touched">
                <p *ngIf="username?.errors!['pattern']">Format invalide</p>  
                <p  *ngIf="username?.value == '' ">mail requis</p>  
            </div>
           
            
            <label for="password"  class="login__input"> Password
                <input type="password" name="password" placeholder="Enter password" formControlName="password">
            </label>
            
            <div class="error" *ngIf="password?.touched && password?.errors">
                <p *ngIf="password?.errors!['pattern']">Minimum 8 charactères, une majuscule et un caractère spécial</p>  
            </div>
            
            <!-- FORM SUBMISSION COMPONENT -->
            <div class="form__checkbox">
                <input type="checkbox" class="checkbox">
                <label for="checkbox" class="checkbox__subtitle">Remember me</label>
                <a  class="checkbox__link" routerLink="/password"> Forgot password ?</a>
            </div>

            <app-submitbtn value="signin" name="Sign in"></app-submitbtn>

            <div class="form__breakline"></div>

            <app-submitbtn value="google" name="Or sign in on Google">
                <span></span>
            </app-submitbtn>

        </form>

         <!-- FORM SIGNUP REDIRECT COMPONENT -->

        <div class="signup">
            <p>Don't  have an account?</p>
            <a  class="checkbox__link small" routerLink="/signup"> Signup now</a>
        </div>

        <div class="credentials">
            <p>© Octom 2022</p>
        </div>
        
    </div>
</div>
