:host {
    flex: 1;
    height: 100%;
}

.chatinfo__profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px;


    img {
        width: 75px;
    }

    h3 {
        text-align: center;
        margin: 8px 0 5px 0;
        font-size: 14px;
        font-weight: 400;

    }

    p {
        margin: 0;
        color: #768396;
        font-size: 9px;
    }

}


.chatinfo__container {
    background-color: #212229;
    color: white;
    padding: 30px;
    height: 100%;
}

.attachment__title {
    display: flex;
    color: #737A8F;

    align-items: center;
    justify-content: space-between;

    h4 {
        font-size: 14px;
        font-weight: 500;
        margin: 0;
    }

    svg {
        cursor: pointer;
        margin-left: 20px;
        animation: 0.4s ease;
    }
}

.attachment__list {
    // transition: height 0.3s ease-in, opacity 0.3s ease-in;
    list-style: none;
    margin: 10px 0;
    padding: 0;

    li {
        display: flex;
        font-size: 11px;
        margin: 10px 0;

        svg {
            vertical-align: middle;
            display: inline-block;
            width: 36px;
            height: 36px;
        }

        img {
            width: 36px;
            height: 36px;
            vertical-align: middle;
            display: inline-block;
        }

        p {
            margin: 0;
        }

        .attachment__list__item-subtitle {
            font-size: 10px;
            color: #768396;
        }
    }

    .chatinfo__button {
        background: none;
        border: none;
        cursor: pointer;
        color: #5051F9;
        font-size: 10px;
        padding: 0;
    }
}


.chatinfo__member {
    h4 {
        font-size: 14px;
        font-weight: 500;
        margin: 0;
        color: #737A8F;
    }

    .member__list {
        list-style: none;
        margin: 0;
        padding: 0;

        .member__list__item {
            display: flex;
            align-items: center;
            margin: 10px 0;

            img {
                border-radius: 50%;
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }

            p {
                margin: 0;
            }
        }

        .chatinfo__add-member {
            display: flex;
            align-items: center;
            margin: 10px 0;

            button {
                background-color: #282932;
                border-radius: 50%;
                border: none;
                color: #5051F9;
                padding: 0px 8px;
                font-size: 20px;
            }

            span {
                width: max-content;
                color: #5051F9;
                font-size: 13px;
                margin-left: 10px;
            }
        }
    }
}



// .header__left {
//     display: flex;

//     p {
//         font-size: 12px;
//         color: #768396;
//         margin: 0;
//         padding: 3px 0;
//     }

//     img {
//         border-radius: 50%;
//         padding: 0 10px;
//     }

//     .chatbox__title {
//         margin: 0;
//         font-weight: 400;
//     }
// }