<div class="chatbox__container">
    <div class="chatbox__header">

        <div class="header__left">
            <img src="/assets/portrait.png" class="main" alt="">
            <div>
                <h2 class="chatbox__title">Design Team</h2>
                <p>60 member, 10 online</p>
            </div>
        </div>

        <div class="header__right">
            <img src={{messages[0].imageUrl}} alt="" class="img-group">
            <img src={{messages[1].imageUrl}} alt="" class="img-group">
            <img src={{messages[2].imageUrl}} alt="" class="img-group">
            <button class="addOne">+</button>
        </div>
    </div>
    <ng-container *ngIf="messagesAPI">

        <app-message-item imagesrc={{messages[2].imageUrl}} message={{messagesAPI!.comments[0].body}}
            name={{messagesAPI!.comments[0].user.username}} hour="10:30 AM">
        </app-message-item>
        <app-message-item imagesrc={{messages[1].imageUrl}} message={{messagesAPI!.comments[1].body}}
            name={{messagesAPI!.comments[1].user.username}} hour="10:30 AM">
        </app-message-item>
        <app-message-item imagesrc={{messages[5].imageUrl}} message={{messagesAPI!.comments[2].body}}
            name={{messagesAPI!.comments[2].user.username}} hour="10:30 AM">
        </app-message-item>
    </ng-container>

    <app-chatbar></app-chatbar>
</div>