<div class="container__signup">
    <form class="signup-form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <h2>Welcome to Octom</h2>

        <h4>Please create an account to continue</h4>

        
        <label for="email"  class="login__input"> Email
            <input type="text" name="email" placeholder="Enter email" formControlName="email">
        </label>
        <div class="error" *ngIf="email?.errors && email?.touched">
            <span *ngIf="email?.errors!['pattern']">Format invalide</span>  
            <span  *ngIf="email?.value == '' ">mail requis</span>  
        </div>
       
        
        <label for="password"  class="login__input"> Password
            <input type="password" name="password" placeholder="Enter password" formControlName="password">
        </label>
        
        <div class="error" *ngIf="password?.touched && password?.errors">
            <span *ngIf="password?.errors!['pattern']">Minimum 8 charactères, une majuscule et un caractère spécial</span>  
        </div>
       
        <label for="confirmpassword"  class="login__input"> Confirm password
            <input type= "password" name="confirmpassword" placeholder="Confirm password" formControlName="confirmPassword">
        </label>

        <div class="error" *ngIf="confirmPassword?.touched && confirmPassword?.errors">
            <span *ngIf="confirmPassword?.errors!['pattern']">Minimum 8 charactères, une majuscule et un caractère spécial</span>  
        </div>

        <button type="submit" class="form__button"> Sign Up </button>
    </form>

</div>