.container__signup{
    height: 100vh;
    padding: 50px;
    display: flex;
    justify-content: center;
}

.signup-form{
    width: 40%;
}

.login__input {
    color:#333333;
    font-size: 11px;
    display: flex;
    flex-direction: column;
    margin: 10px 0;

    input {
        background-color: #F2F2F2;
        border: none;
        border-radius: 6px;
        padding: 10px 14px;
    }

    input::placeholder {
        font-size: 12px;
    }
}

.form__button{
    cursor: pointer;
    width: 100%;
    background-color: #007AFF;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    padding: 10px 0;
}

.error{
    color:red;
    margin: 15px 0;
    font-size: 12px;
}
